.vscode/
.mypy_cache
env/
*.DS_Store
.pytest_cache/
.cache
docs/build/
docs/source/api
*.egg-info/
py37
py38
py39
.ipynb_checkpoints/
*.so
*.dylib
*.tkc
__pycache__/
*.pyc
*timer.dat
*output.dat
*eumen.log
*.iml
*.xml
.idea
*.code-workspace
timer.txt
*.log
report.html
*.eggs
*.xyz
*.pickle